<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body class="container">
  <div id="posts"></div>
  <script src="assets/jquery-1.11.3.min.js"></script>
  <script src="assets/jquery.jsontotable.min.js"></script>
  <script>
    $.post("/api/posts", {p: 1}, function (res){
      var data = [['標題', '作者', '時間']];
      res.forEach(function (e){
        var title = '<a href="/posts/' + e.Id + '">' + e.Title + '</a>';
        var author = '<a href="#">' + e.Author + '</a>';
        data.push([title, author, e.Time]);
      })
      $.jsontotable(data, { id: '#posts', header: true, className: 'table table-hover'  });
    });
  </script>
</body>
</html>
