<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <xmp theme="united" style="display:none;">
{{ .content }}
  </xmp>
  <script src="/assets/strapdown.js"></script>
</body>
</html>
